<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'Login_style.css' %}">



<div class="login">
  <div class="form">
    <div class="msg">
      {% include 'messages.html' %}
      <center><h1>Sign In</h1></center>
        <form method="post">
          <h2>
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit">Sign In</button>
        <p>Reset Password <a href="/account/reset_password">here</a></p>
        <p>Don't have an account? Create one <a href="/signup">here</a></p>
          </h2>
        </form>
  </div>
</div>
</div>

{% endblock%}
