{% extends 'base.html' %}




{%block title%} Reset Password {% endblock %}

<html xmlns="http://www.w3.org/1999/html">
{%block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'Reset_Password_style.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=0.6">  <!-- for mobile view -->


<body>
    <div class="reset">
        <div class="form">
            <center><h1>Reset Password</h1></center>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                <h2>
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required><br><br>

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required><br><br>

                <button type="submit">Reset Password </button>
                 </h2>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock%}