.navbar-brand{

    color: orange;
    font-size: 24px;
    font-family: Courier, monospace;

}

.navbar-text{

    color: orange;
    font-size: 17px;

}

.dropdown{

    font-size: 19px;

}

#navbarDropdownMenuLink{

    color: orange;


}

#currentDateTime{

    position: relative;

}
