.navbar-brand{

    color: orange;
    font-size: 35px;
    font-family: Courier, monospace;

}

.navbar-login{

    color: orange;
    font-size: 19px;

}

/*
.navbar-login img{

    background-color: white;
    border-radius: 30%;

}
*/

