<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'Signup_style.css' %}">


<div class="form">
  <div class="title"> <h2><center>Sign up</center></h2></div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <h2>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </h2>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
