body{
    margin: 0;
    padding: 0;
    background-color:#98a7fa;
    font-family: 'Arial';
    height: 750px;
}


.signup {
  width: 500px;
  padding: 10% 0 0;
  margin: auto;

}

.form {
    position: center;
    z-index: 1;
    background: #FFFFFF;
    max-width: 950px;
    margin: 0 auto 100px;
    padding: 4px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}

.form button {
    margin: 0 170px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #262725;
    width: 60%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
}


.form button:hover,.form button:active,.form button:focus {
    background: #3d3d3d;
}


.title{

    font-size: 31px;
    text-decoration: underline


}
